* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/DroidSerif.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

.body {
  font-family: 'Lato', Helvetica, sans-serif;
  padding: 100px 75px 90px 75px;
  margin: 0;
  color: black;
}

.container {
  width: 1096px;
}

.section-cream__text {
  margin: 0;
  font-size: 22px;
}

.header__text {
  margin-top: 0;
  margin-bottom: 33px;
  margin: 0;
  font-size: 22px;
}

.section-cleaning__text {
  margin: 0;
  font-size: 22px;
}

.section-cream {
  margin: 0;
}

.section-advice__title {
  margin: 0;
}

.section-advice {
  margin-bottom: 33px;
}
.section-advice__text {
  margin: 0;
  font-size: 22px;
}
.section-care__text {
  margin: 0;
  font-size: 22px;
}

.section-care {
  margin: 0;
  font-size: 22px;
  margin-bottom: 33px;
}

.section-cleaning {
  margin-bottom: 33px;
}

.header__title {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 60px;
}

.section-care__title {
  font-size: 24px;
  margin: 0;
}

.section-cleaning__title {
  font-weight: inherit;
  margin: 0;
}

.section-cream__title {
  font-weight: inherit;
  margin: 0;
}

.navigation-link {
  text-decoration: none;
  color: black;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
  list-style-position: inside;
}

.navigation {
  padding-bottom: 23px;
  padding-top: 17px;
}

.section-cleaning__img {
  padding-bottom: 50px;
  padding-top: 27px;
}

.section-advice__img {
  padding-bottom: 50px;
  padding-top: 27px;
}
