* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/DroidSerif.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

.body {
  font-family: 'Lato', Helvetica, sans-serif;
  padding: 100px 75px 90px 75px;
  margin: 0;
  color: black;
}

.container {
  width: 1096px;
}

.text {
  margin: 0;
  font-size: 22px;
}

.section-text {
  margin-top: 0;
  margin-bottom: 33px;
}

.section-cream {
  margin: 0;
}

.section {
  margin-bottom: 33px;
}

.title {
  margin: 0;
}

.title-main {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 60px;
}

.sub-title {
  font-weight: inherit;
}

.link {
  text-decoration: none;
  color: black;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
  list-style-position: inside;
}

.menu {
  padding-bottom: 23px;
  padding-top: 17px;
}

.img {
  padding-bottom: 50px;
  padding-top: 27px;
}
