.sale__item-two-sneakers {
  background-image: url(../../../image/two-sneakers.jpg);
  padding: 1.04vw;
  display: flex;
  align-items: flex-end;
  /* min-height: 28.65vw; */
}

.sale__two-sneakers-text-wrap {
  background-color: #38c0eb;
  border-radius: 20px;
  padding: 1.49vw 1.25vw 1.75vw 1.2vw;

  /* padding: 26px 28px 26px 23px; */
}

.sale__two-sneakers-text {
  color: #fff;
  font-family: 'Lato';
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  max-width: 24vw;
}
.sale__two-sneakers-text-sub {
  color: #fff;
  font-family: 'Lato';
  font-size: 2.92vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media (max-width: 1220px) {
  .sale__two-sneakers-text {
    font-size: 2.93vw;
    max-width: 33.15vw;
  }
  .sale__two-sneakers-text-sub {
    font-size: 3.91vw;
  }
  .sale__two-sneakers-text-wrap {
    padding: 2.83vw 2.44vw 2.83vw 2.44vw;
  }
  .sale__item-two-sneakers {
    padding: 2.15vw;
    min-height: 44.73vw;
  }
}

@media (max-width: 770px) {
  .sale__two-sneakers-text-wrap {
    padding: 2.08vw 3.65vw 2.08vw 3.65vw;
    border-radius: 12px;
  }
  .sale__two-sneakers-text {
    max-width: none;
    font-size: 2.08vw;
  }
  .sale__two-sneakers-text-sub {
    font-size: 3.39vw;
  }
  .sale__item-two-sneakers {
    background-image: url(../../../image/two-sneakers-768.jpg);
    padding: 1.3vw;
  }
}

@media (max-width: 730px) {
  .sale__two-sneakers-text-wrap {
    border-radius: 8px;
    padding: 2.81vw 7.81vw 2.81vw 7.81vw;
  }
  .sale__two-sneakers-text {
    font-size: 3.75vw;
    text-align: center;
  }
  .sale__two-sneakers-text-sub {
    font-size: 5vw;
  }
  .sale__item-two-sneakers {
    background-image: url(../../../image/two-sneakers-320.jpg);
    /* padding: 79.13vw 3.13vw 3.13vw 3.13vw; */
    padding: 3.13vw;
    min-height: 87.5vw;
    justify-content: center;
  }
}
