.sale__item-watch {
  background-image: url(../../../image/watch.jpg);

  /* min-height: 12.76vw; */

  /* padding: 4.06vw 1.3vw 6.67vw 0.8vw; */
  padding: min(4.06vw, 78px) min(1.3vw, 25px) min(6.67vw, 128px) min(0.8vw, 15px);
}

.sale__text-watch {
  color: #fff;
  font-family: 'Lato';
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
}

@media (max-width: 1650px) {
  .sale__item-watch {
    padding-top: 2vw;
  }
}

@media (max-width: 1220px) {
  .sale__text-watch {
    font-size: 2.34vw;
    /* min-height: 21.19vw; */
  }

  .sale__item-watch {
    padding-top: 5.66vw;
    padding-left: 1.39vw;
  }
}

@media (max-width: 770px) {
  .sale__text-watch {
    font-size: 2.08vw;
  }
  /* ///////////////////////////////////////////////////// */
  .sale__item-watch {
    padding: 2.15vw 3.26vw 13.54vw 0.65vw;
  }
}

@media (max-width: 730px) {
  .sale__text-watch {
    font-size: 4.19vw;
  }
  .sale__item-watch {
    background-image: url(../../../image/watch-320.jpg);
    padding: 8.75vw 11.56vw 26.88vw 3.13vw;
  }
}

@media (max-width: 430px) {
  .sale__text-watch {
    font-size: 3.75vw;
  }
}
