.sale__item-watch {
  background-image: url(../../../image/watch.jpg);

  /* min-height: 12.76vw; */

  padding: 4.06vw 1.3vw 6.67vw 0.8vw;
}

.sale__text-watch {
  color: #fff;
  font-family: 'Lato';
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
}

.sale__discount-watch {
  top: 7.14vw;
  left: 7.14vw;
  bottom: 1.04vw;
  right: 1.04vw;
}

@media (max-width: 1556px) {
  .sale__discount-watch {
    top: 5.9vw;
    left: 6.14vw;
  }
}

@media (max-width: 1220px) {
  .sale__discount-watch {
    top: 11.62vw;
    left: 11.62vw;
    bottom: 0.98vw;
    right: 0.98vw;
  }
  .sale__text-watch {
    font-size: 2.34vw;
    /* min-height: 21.19vw; */
  }

  .sale__item-watch {
    padding-top: 5.66vw;
    padding-left: 1.39vw;
  }
}

@media (max-width: 920px) {
  .sale__discount-watch {
    top: 10.62vw;
  }
}

@media (max-width: 770px) {
  .sale__discount-watch {
    top: 10.62vw;
    left: 10.62vw;
    bottom: 0.98vw;
    right: 0.98vw;
  }
  .sale__text-watch {
    font-size: 2.08vw;
  }
  /* ///////////////////////////////////////////////////// */
  .sale__item-watch {
    padding: 2.15vw 3.26vw 13.54vw 0.65vw;
  }
}

@media (max-width: 730px) {
  .sale__discount-watch {
    top: 30.7vw;
    left: 30.7vw;
  }
  .sale__text-watch {
    font-size: 4.19vw;
  }
  .sale__item-watch {
    padding: 8.75vw 11.56vw 26.88vw 3.13vw;
  }
}

@media (max-width: 430px) {
  .sale__discount-watch {
    top: 23.44vw;
    left: 23.44vw;
    bottom: 1.56vw;
    right: 1.56vw;
  }
  .sale__text-watch {
    font-size: 3.75vw;
  }
}
