.sale__item-gift-ideas {
  background-image: url(../../image/gift-ideas.jpg);

  /* min-height: 12.76vw; */
  padding: 5.42vw 9.38vw 1.56vw 1.56vw;
}

.sale__gift-ideas-text {
  color: #fff;
  font-family: 'Lato';
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}

@media (max-width: 1220px) {
  .sale__gift-ideas-text {
    font-size: 2.93vw;
  }
  .sale__item-gift-ideas {
    padding: 10.74vw 18.26vw 1.95vw 1.95vw;
  }
}

@media (max-width: 770px) {
  .sale__gift-ideas-text {
    font-size: 2.08vw;
    line-height: 120%;
  }
}

@media (max-width: 730px) {
  .sale__gift-ideas-text {
    font-size: 3.75vw;
    display: inline;
  }

  .sale__item-gift-ideas {
    background-image: url(../../image/gift-ideas-320.jpg);
    padding: 27.5vw 27.81vw 5vw 3.13vw;
  }
}
