.sale {
  padding-top: 90px;
  padding-bottom: 189px;
}

@media (max-width: 1620px) {
  .sale {
    padding-top: 60px;
  }
}

@media (max-width: 860px) {
  .sale {
    padding-top: 50px;
  }
}

@media (max-width: 730px) {
  .sale {
    padding-top: 40px;
  }
}
