.sale__item-book {
  background-image: url(../../../image/book.jpg);

  padding: 5.05vw 1.82vw 1.04vw 1.04vw;
}

.sale__text-book-wrap {
  max-width: 9.9vw;
}

.sale__text-book {
  color: #fff;
  font-family: 'Lato';
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.sale__text-book-word {
  color: #fff;
  font-family: 'Lato';
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}

@media (max-width: 1220px) {
  .sale__item-book {
    padding: 12.01vw 1.76vw 1.95vw 0.88vw;
  }

  .sale__text-book {
    font-size: 2.34vw;
    max-width: 18.55vw;
  }
  .sale__text-book-word {
    font-size: 2.93vw;
  }
}

@media (max-width: 770px) {
  .sale__text-book-word {
    font-size: 3.39vw;
  }
  .sale__text-book {
    font-size: 2.6vw;
  }

  .sale__item-book {
    padding: 6.25vw 0.52vw 1.95vw 1.3vw;
  }
}

@media (max-width: 730px) {
  .sale__text-book-word {
    font-size: 5vw;
  }
  .sale__text-book {
    font-size: 3.75vw;
  }
  .sale__item-book {
    background-image: url(../../../image/book-320.jpg);
    min-height: 40.63vw;
    padding: 23.75vw 17.19vw 3.13vw 3.13vw;
  }
}

@media (max-width: 346px) {
  .sale__text-book {
    max-width: 62px;
  }
}
