.banner-wrap {
  background-image: url(../../../image/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25vw;
  border-radius: 20px;
  padding-top: 7.55vw;
  padding-bottom: 2.08vw;
  max-width: 1770px;
}

.banner-text {
  padding-left: 5.83vw;
  margin-bottom: 5.21vw;
  color: #fff;
  font-family: 'Lato';
  font-size: 3.65vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 91px */
}

.end-promotion {
  text-align: center;
  color: #fff;
  font-family: 'Lato';
  font-size: 0.83vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  margin-bottom: 5px;
}

.timer {
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Lato';
  font-size: 1.67vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
  word-spacing: 30px;
}
.timer-num {
  color: #fff;
  font-family: 'Lato';
  font-size: 3.13vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 78px */
  margin-right: 6px;
}

@media (max-width: 1220px) {
  .banner-wrap {
    background-image: url(../../../image/banner-1024.jpg);
    padding-top: 8.11vw;
    padding-bottom: 3.52vw;
    border-radius: 16px;
  }
  .banner-text {
    max-width: 39.06vw;
    font-size: 3.91vw;
    margin-bottom: 1.17vw;
    padding-left: 8.81vw;
  }

  .end-promotion {
    font-size: 1.56vw;
    margin-bottom: 1.21vw;
  }

  .timer {
    word-spacing: 20px;
    font-size: 1.95vw;
  }

  .timer-num {
    margin-right: 5px;
    font-size: 3.91vw;
  }
}

@media (max-width: 860px) {
  .banner-wrap {
    background-image: url(../../../image/banner-768.jpg);
    padding-top: 8.63vw;
    padding-bottom: 3.91vw;
  }

  .banner-text {
    font-size: 3.91vw;
    max-width: none;
    margin-bottom: 11.88vw;
    padding-left: 10.42vw;
  }
  .end-promotion {
    margin-bottom: 1.3vw;
  }

  .timer {
    word-spacing: 10px;
    font-size: 2.08vw;
  }

  .timer-num {
    margin-right: 3px;
    font-size: 3.91vw;
  }
}

@media (max-width: 730px) {
  .banner-wrap {
    background-image: url(../../../image/banner-320.jpg);
    padding-top: 15.63vw;
    padding-bottom: 9.38vw;
    border-radius: 8px;
  }

  .banner-text {
    font-size: 6.88vw;
    padding-left: 9.38vw;
    margin-bottom: 59.06vw;
  }
  .end-promotion {
    font-size: 2.5vw;
  }
  .timer {
    word-spacing: 8px;
    font-size: 3.75vw;
  }

  .timer-num {
    margin-right: 0;
    font-size: 6.25vw;
  }
}
