.sale__item-spray {
  background-image: url(../../../image/spray.jpg);

  /* min-height: 12.76vw; */
  padding: 7.66vw 2.5vw 1.04vw 1.04vw;
}

.sale__discount-spray {
  top: 1.04vw;
  left: 1.04vw;
}
.sale__spray-text {
  color: #fff;
  font-family: 'Lato';
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
}

@media (max-width: 1220px) {
  .sale__item-spray {
    padding: 17.29vw 1.86vw 1.95vw 1.95vw;
  }
  .sale__spray-text {
    display: inline;
    font-size: 1.95vw;
  }
}

@media (max-width: 920px) {
  .sale__item-spray {
    padding-top: 14.29vw;
  }
}

@media (max-width: 770px) {
  .sale__spray-text {
    display: block;
    font-size: 2.08vw;
  }
  .sale__item-spray {
    background-image: url(../../../image/spray-768.jpg);
    padding: 11.46vw 3.39vw 1.82vw 1.82vw;
  }
}

@media (max-width: 730px) {
  .sale__spray-text {
    font-size: 3.75vw;
    display: inline;
  }
  .sale__spray-text-wrap {
    top: 33.13vw;
  }
  .sale__item-spray {
    padding: 33.13vw 3.13vw 3.13vw 2.81vw;
  }
}
