.sale__item-laptop {
  background-image: url(../../../image/laptop.jpg);

  /* min-height: 12.76vw; */
  padding: 8.33vw 7.66vw 1.56vw 1.56vw;
}

.sale__text-laptop {
  color: #fff;
  font-family: 'Lato';
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 14.4px */
}

@media (max-width: 1220px) {
  .sale__text-laptop {
    font-size: 2.93vw;
  }

  .sale__item-laptop {
    padding: 15.43vw 15.43vw 1.95vw 1.95vw;
  }
}

@media (max-width: 770px) {
  .sale__text-laptop {
    font-size: 2.08vw;
  }
  .sale__item-laptop {
    padding: 13.15vw 17.06vw 2.6vw 2.6vw;
  }
}

@media (max-width: 730px) {
  .sale__text-laptop {
    font-size: 3.75vw;
  }

  .sale__item-laptop {
    background-image: url(../../../image/laptop-320.jpg);
    padding: 31.51vw 49.38vw 5vw 3.13vw;
  }
}
