.header {
  padding-top: 27px;
}

.title {
  display: none;
}

.holder {
  display: grid;
  justify-content: space-between;
  grid-template-areas: 'logo menu-btn search  menu';
  /* grid-template-rows: 65px; */
  align-items: center;
}

.logo {
  grid-area: logo;
}
.menu-btn {
  grid-area: menu-btn;
}
.search-input {
  grid-area: search;
}
.menu {
  grid-area: menu;
}

@media (max-width: 1580px) {
  .holder {
    grid-template-areas:
      'logo menu'
      'menu-btn search';
    row-gap: 34px;
    justify-content: space-between;
  }
}

@media (max-width: 1360px) {
  .header {
    padding-top: 34px;
  }
}

@media (max-width: 1005px) {
  .logo {
    max-height: 28px;
  }
  .holder {
    row-gap: 29px;
  }
  .search-but {
    max-width: 82px;
  }

  .menu-btn {
    max-height: 42px;
    max-width: 115px;
  }
}

@media (max-width: 805px) {
  .header {
    padding-top: 25px;
  }
}

@media (max-width: 766px) {
  .holder {
    row-gap: 20px;
    grid-template-areas:
      'logo logo'
      'menu-btn menu'
      'search search';
  }
}

@media (max-width: 601px) {
  .logo {
    max-height: 19px;
  }
  .header {
    padding-top: 20px;
  }
}
