@use '../utils/var' as *;
@use '../base/fonts' as *;

.article {
  padding-top: 80px;
  padding-bottom: 150px;
  @media (max-width: 850px) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @media (max-width: 580px) {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  @media (max-width: 400px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .title-page {
    font-family: $font-lato;
    font-style: normal;
    font-weight: $font-bold;
    font-size: 50px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 40px;
    color: $color-main;
    @media (max-width: 850px) {
      font-size: 40px;
    }
    @media (max-width: 580px) {
      font-size: 25px;
      margin-bottom: 20px;
    }
    @media (max-width: 400px) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  .text-page {
    font-family: $font-lato;
    font-style: normal;
    font-weight: $font-regular;
    font-size: 22px;
    line-height: 150%;
    color: #2d2d2d;

    @media (max-width: 850px) {
      font-size: 18px;
    }
    @media (max-width: 580px) {
      font-size: 15px;
    }
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  .text-page-wrap {
    margin-bottom: 130px;
  }
}

.text-wrap {
  display: flex;
  justify-content: space-between;
  .autor-text {
    color: $color-main;
    font-family: $font-lato;
    font-size: 22px;
    font-weight: $font-regular;
    line-height: 150%;
    letter-spacing: 0%;
    @media (max-width: 850px) {
      font-size: 17px;
    }
    @media (max-width: 400px) {
      font-size: 13px;
    }
  }
  .back-btn {
    display: flex;
    justify-content: space-between;
    max-width: 154px;
    cursor: pointer;
  }

  .btn-text {
    color: $color-main;
    font-family: $font-lato;
    font-size: 16px;
    font-weight: $font-bold;
    line-height: 130%;
    letter-spacing: 0%;
    align-self: center;
    @media (max-width: 850px) {
      font-size: 10px;
    }
  }

  .arrow {
    margin-right: 15px;
  }
}
