.sale__item-dress {
  background-image: url(../../image/dress.jpg);

  /* min-height: 28.65vw; */
}

@media (max-width: 770px) {
  .sale__item-dress {
    background-image: url(../../image/dress-768.jpg);
  }
}

@media (max-width: 730px) {
  .sale__item-dress {
    background-image: url(../../image/dress-320.jpg);
    min-height: 87.5vw;
  }
}
