.menu {
  display: flex;

  justify-content: space-between;

  gap: 40px;
}

.menu-320 {
  display: none;
}
.menu-icon {
  cursor: pointer;
}
.menu-icon:hover path {
  transition: 0.3s;
  fill: #3670c7;
}

.menu-icon:active path {
  fill: #2d2d2d;
  transition: 0.3s;
}

.menu-wrap_blogs {
  margin-bottom: 60px;
}

@media (max-width: 1580px) {
  .menu {
    max-width: 294px;
  }
  .menu-wrap {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 1360px) {
  .menu {
    gap: 40px;
  }
}

@media (max-width: 1005px) {
  .menu {
    height: 44px;
  }
}

@media (max-width: 768px) {
  .menu {
    gap: 30px;
  }
}

@media (max-width: 766px) {
  .menu {
    display: none;
  }
  .menu-320 {
    display: flex;

    gap: 20px;
  }
}
