.menu {
  display: grid;
  grid-template-columns: 69px 63px 82px;
  justify-content: space-between;
  max-width: 354px;
}

.menu-320 {
  display: none;
}
.menu-icon {
  cursor: pointer;
}
.menu-icon:hover path {
  transition: 0.3s;
  fill: #3670c7;
}

.menu-icon:active path {
  fill: #2d2d2d;
  transition: 0.3s;
}

@media (max-width: 1580px) {
  .menu-wrap {
    grid-column: 4/5;
  }
}

@media (max-width: 1360px) {
  .menu-wrap {
    display: grid;
    justify-content: end;
  }
  .menu {
    column-gap: 40px;
  }
}

@media (max-width: 980px) {
  .menu {
    grid-template-rows: 44px;
    grid-template-columns: 52px 47px 62px;
  }
}

@media (max-width: 768px) {
  .menu {
    column-gap: 30px;
  }
}

@media (max-width: 766px) {
  .menu {
    display: none;
  }
  .menu-320 {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    gap: 20px;
  }
  .menu-wrap {
    grid-row: 2;
  }
}
