.blogs__item {
  /* display: flex;
  column-gap: 30px;
  cursor: pointer;
   */
}

.blogs__link {
  display: flex;
  column-gap: 30px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .blogs__title {
    font-size: 28px;
  }
}

@media (max-width: 1277px) {
  .blogs__title {
    font-size: 20px;
  }
}

@media (max-width: 1277px) {
  .blogs__item {
    column-gap: 10px;
  }
}

@media (max-width: 710px) {
  .blogs__item {
    display: grid;
    grid-template-columns: 100px 300px;
    justify-content: center;
  }
}

@media (max-width: 463px) {
  .blogs__item {
    grid-template-columns: 100px 1fr;
  }
}
