@use '../utils/var' as *;
@use '../base/fonts' as *;

.header {
  padding-top: 27px;

  @media (max-width: 1360px) {
    padding-top: 34px;
  }

  @media (max-width: 805px) {
    padding-top: 25px;
  }

  @media (max-width: 601px) {
    padding-top: 20px;
  }
}

.title {
  display: none;
}

.holder {
  display: grid;
  justify-content: space-between;
  grid-template-areas: 'logo menu-btn search menu';
  align-items: center;

  @media (max-width: 1580px) {
    grid-template-areas:
      'logo menu'
      'menu-btn search';
    row-gap: 34px;
    justify-content: space-between;
  }

  @media (max-width: 766px) {
    row-gap: 20px;
    grid-template-areas:
      'logo logo'
      'menu-btn menu'
      'search search';
  }
}

.logo {
  grid-area: logo;

  @media (max-width: 1005px) {
    max-height: 28px;
  }

  @media (max-width: 601px) {
    max-height: 19px;
  }
}

.menu-btn {
  grid-area: menu-btn;
  cursor: pointer;

  &:hover rect {
    fill: #2d2d2d;
    transition: 0.3s;
  }

  &:active rect {
    fill: #3670c7;
    transition: 0.3s;
  }

  &:active path {
    fill: #fff;
    transition: 0.3s;
  }

  @media (max-width: 1580px) {
    grid-column: 1/2;
    grid-row: 2/2;
  }

  @media (max-width: 980px) {
    height: 42px;
    width: 115px;
  }

  @media (max-width: 601px) {
    height: 30px;
    width: 79px;
  }
}

.search-input {
  position: relative;
  display: inline-flex;
  height: 54px;
  min-width: 757px;
  grid-area: search;

  @media (max-width: 1040px) {
    &:hover,
    &:focus {
      outline: none;
    }
  }

  @media (max-width: 1005px) {
    max-height: 42px;
    min-width: 540px;
  }

  @media (max-width: 768px) {
    min-width: 580px;
  }

  @media (max-width: 692px) {
    min-width: 580px;
  }

  @media (max-width: 610px) {
    min-width: 280px;
    max-height: 30px;
  }
}

.input {
  width: 100%;
  max-width: 757px;
  padding: 15px 0 18px 40px;
  font-size: 16px;
  font-family: $font-lato;
  background-color: #efefef;
  border: none;
  outline: none;
  border-radius: 30px;
  position: relative;
  @media (max-width: 812px) {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 692px) {
    max-width: 580px;
    left: 0;
  }

  @media (max-width: 610px) {
    font-size: 8px;
    padding: 9px 0 11px 16px;
  }
}

input[type='search' i]:enabled:read-write:-webkit-any(
    :focus,
    :hover
  )::-webkit-search-cancel-button {
  opacity: 0;
  pointer-events: auto;
}

.search-btn {
  position: absolute;
  border-radius: 30px;
  height: 54px;
  outline: none;
  right: 0;
  @media (max-width: 1005px) {
    max-height: 42px;
  }
  @media (max-width: 812px) {
    background-color: #efefef;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  @media (max-width: 610px) {
    height: 30px;
  }
  &:hover rect {
    fill: #2d2d2d;
    transition: 0.3s;
  }

  &:active rect {
    fill: #3670c7;
    transition: 0.3s;
  }
}

.search-but {
  position: relative;
  @media (max-width: 1005px) {
    max-width: 78.56px;
  }

  @media (max-width: 610px) {
    height: 30px;
    max-width: 56.11px;
  }
}

.menu-wrap {
  @media (max-width: 1580px) {
    display: flex;
    justify-content: end;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 1580px) {
    max-width: 294px;
  }

  @media (max-width: 1360px) {
    gap: 40px;
  }

  @media (max-width: 1005px) {
    height: 44px;
  }

  @media (max-width: 768px) {
    gap: 30px;
  }

  @media (max-width: 766px) {
    display: none;
  }
}

.menu-320 {
  display: none;

  @media (max-width: 766px) {
    display: flex;
    gap: 20px;
  }
}

.menu-icon {
  cursor: pointer;

  &:hover path {
    transition: 0.3s;
    fill: #3670c7;
  }

  &:active path {
    fill: #2d2d2d;
    transition: 0.3s;
  }
}
