@use '../utils/var' as *;
@use '../base/fonts' as *;

.product {
  padding-bottom: 140px;
  @media (max-width: 830px) {
    padding-bottom: 80px;
  }
  @media (max-width: 500px) {
    padding-bottom: 70px;
  }

  &--category {
    padding-top: 90px;
    padding-bottom: 96px;
    @media (max-width: 1024px) {
      padding-bottom: 88px;
      padding-top: 60px;
    }
    @media (max-width: 800px) {
      padding-top: 50px;
      padding-bottom: 57px;
    }
    @media (max-width: 500px) {
      padding-top: 40px;
      padding-bottom: 117px;
    }
  }

  &__title {
    color: $color-main;
    font-family: $font-lato;
    font-size: 50px;
    font-style: normal;
    font-weight: $font-bold;
    line-height: 130%; /* 65px */
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media (max-width: 500px) {
      font-size: 20px;
      margin-bottom: 26px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // grid-template-rows: auto;
    grid-auto-rows: 1fr auto;
    column-gap: 30px;
    row-gap: 50px;
    @media (max-width: 1220px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      // grid-template-rows: 1fr 1fr 1fr;
    }

    @media (max-width: 1024px) {
      column-gap: 20px;
      row-gap: 50px;
    }
    @media (max-width: 768px) {
      row-gap: 40px;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    @media (max-width: 500px) {
      row-gap: 30px;
    }
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    // gap: 30px;

    // @media (max-width: 1220px) {
    //   grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
    // }

    // @media (max-width: 1024px) {
    //   gap: 20px;
    // }

    // @media (max-width: 860px) {
    //   grid-template-columns: repeat(auto-fit, minmax(130px, 220px));
    //   gap: 40px;
    // }

    // @media (max-width: 700px) {
    //   grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    //   justify-items: center;
    // }

    // @media (max-width: 500px) {
    //   gap: 30px;
    // }
    .product__card {
      position: relative;

      .product__link {
        display: block;
        text-decoration: none;
        color: inherit;

        &:hover {
          transform: scale(1.06);
          transition: 0.5s;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }

      .product__wrap {
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;

        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
        @media (max-width: 500px) {
          margin-bottom: 10px;
        }
        .product__img {
          max-height: 295px;
          @media (max-width: 1024px) {
            border-radius: 14px;

            height: 295px;
          }
          @media (max-width: 768px) {
            border-radius: 12px;

            height: 216px;
          }
          @media (max-width: 500px) {
            height: 130px;
          }
        }
      }
    }
  }
}
.product__cards_card {
  grid-template-rows: 1fr;
  @media (max-width: 1024px) {
    display: none;
  }
}
.product__cards_card-sub {
  display: none;
  @media (max-width: 1024px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
.product__price-wrap {
  display: inline-flex;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
  @media (max-width: 500px) {
    margin-bottom: 3px;
  }

  .product__price {
    color: $color-main;
    font-family: $font-lato;
    font-size: 28px;
    font-style: normal;
    font-weight: $font-bold;
    line-height: normal;
    margin-right: 28px;

    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  .product__old-price {
    color: $color-main;
    font-family: $font-lato;
    font-size: 20px;
    font-style: normal;
    font-weight: $font-regular;
    line-height: normal;
    text-decoration: line-through;
    align-self: center;
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}

.product__name {
  color: $color-main;
  display: block;

  font-family: $font-lato;
  font-size: 22px;
  font-style: normal;
  font-weight: $font-regular;
  line-height: 150%; /* 33px */
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.product__discount {
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: $color-yellow;
  border-radius: 50%;
  padding: 24px 8px 25px 9px;
  color: $color-text;
  font-family: $font-lato;
  font-size: 30px;
  font-style: normal;
  font-weight: $font-bold;
  line-height: 130%; /* 39px */
  text-align: center;
  left: 20px;
  bottom: 20px;

  @media (max-width: 768px) {
    padding: 16px 5px 18px 7px;

    font-size: 20px;
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 10px;
  }
  @media (max-width: 500px) {
    padding: 13px 5px 13px 6px;
    font-size: 12px;
    width: 40px;
    height: 40px;
    left: 6px;
    bottom: 6px;
  }
}
