.menu-btn {
  cursor: pointer;
}

.menu-btn:hover rect {
  fill: #2d2d2d;
  transition: 0.3s;
}

.menu-btn:active rect {
  fill: #3670c7;
  transition: 0.3s;
}

.menu-btn:active path {
  fill: #fff;
  transition: 0.3s;
}

@media (max-width: 1580px) {
  .menu-btn {
    grid-column: 1/2;
    grid-row: 2/2;
  }
}

@media (max-width: 980px) {
  .menu-btn {
    height: 42px;
    width: 115px;
  }
}

@media (max-width: 601px) {
  .menu-btn {
    height: 30px;
    width: 79px;
  }
}
