.blogs__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-between;
  column-gap: 143px;
  row-gap: 50px;
  margin-bottom: 192px;
  /* max-width: 1433px; */
}
