.product__discount {
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #ffbd13;
  border-radius: 50%;
  padding: 24px 8px 25px 9px;
  color: #fff;
  font-family: 'Lato';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
  text-align: center;
  left: 20px;
  bottom: 20px;
}
